body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0rem;
  max-width: 21rem;
  padding: 1rem;
  overflow: hidden;
}

.app-font {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.title {
  font-size: x-large;
  font-weight: bolder;
}

.button {
  background-color: orange;
  box-shadow: 1px 1px 0 0 darkslategrey;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  text-shadow: 5px;
  border-radius: 15%;
  border-style: none;
}

.button:hover {
  background-color: #f7c368;
  text-shadow: 10px;
  border-style: dashed;
}

.top-container {
  top: 0;
  left: 0;
  width: 23rem;
  height: 4rem;
  display: block;
}

.container {
  display: block;
  width: 23rem;
  height: 19rem;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.bottom-container {
  bottom: 0;
  left: 0;
  width: 23rem;
  height: 2rem;
}

.button-container {
  float: right;
  display: table;
}

.separator {
  height: 2px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray
}

/* Inputs */

.task-checkbox {
  float: right;
  margin-right: 1rem;
}

.transparent-text-input {
  border: none;
  width: 20rem;
  font-size: large;
  margin-right: 0;
  padding-right: 0;

}

.transparent-text-input:focus {
  outline: none;
}