
/* Layout */

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0rem;
  width: 90vw;
  height: 92vh;
  padding: 2%;
  margin: 2%;
  overflow: hidden;
}

.top-header {
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  width: 100%;
}

.top-header-left {
  float: left;
  margin-left: 0%;
  padding-left: 0%;
}

.top-header-right {
  float: right;
  margin-right: 0%;
  padding-right: 0%;
}

.top-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: block;
}

.container {
  display: block;
  width: 100%;
  height: 82%;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.bottom-container {
  width: 100%;
  height: 10%;
  opacity: 0%;
}

.button-container {
  bottom: 5%;
  right: 8%;
  opacity: 100%;
  position: absolute;
}

.separator {
  height: 2px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray
}

/* Text */

.app-font {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.title {
  font-size: x-large;
  font-weight: bolder;
}

/* Buttons */

.login-button {
  background-color: yellow;
  box-shadow: 1px 1px 0 0 darkslategrey;
  text-align: center;
  border-radius: 15%;
  border-style: none;
  text-shadow: 5px;
}

.button {
  background-color: orange;
  box-shadow: 1px 1px 0 0 darkslategrey;
  text-align: center;
  font-weight: bold;
  font-size: large;
  padding: 10px;
  text-shadow: 5px;
  border-radius: 15%;
  border-style: none;
}

.button:hover {
  background-color: #f7c368;
  text-shadow: 10px;
  border-style: dashed;
}

/* Inputs */

.task-checkbox {
  float: right;
  margin-right: 1rem;
}

.transparent-text-input {
  border: none;
  width: 20rem;
  font-size: large;
  margin-right: 0;
  padding-right: 0;

}

.transparent-text-input:focus {
  outline: none;
}