
/***
  LIGHT THEME: 

  Background Color: #fcfbf9
  Primary Color: #357ba2
  Secondary Color: 

  DARK THEME
  
  Primary Color: 
  Secondary Color: 
***/

/* HTML */

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom right, #fcfbf9, white)
}

/* Layout */

.loader {
  position: relative;
  width: 75vw;
  height: 1vh;
  border-radius: 5%;
  border-right: 25% solid #f3f3f3;
  border-left: 25% solid #f3f3f3;
  margin-bottom: 10px;
  background: #add8e6;
  animation: slide 1.5s ease-in alternate infinite;
}

@keyframes slide {
  0% { transform: translateX(-50%) }
  100% { transform: translateX(50%) }
}text

.top-header {
  overflow: hidden;
  margin: 0%;
  padding: 0%;
  width: 100%;
  height: 10%;
}

.top-header-left {
  float: left;
  width: 45%;
  margin-right: 1%;
}

.top-header-right {
  float: right;
  width: 45%;
  margin-left: 1%;
}

.top-container {
  top: 0;
  left: 0;
  width: 100%;
  height: 10%;
  display: block;
}

.container {
  display: block;
  width: 100%;
  height: 82%;
  margin-bottom: 1rem;
  overflow-y: auto;
}

.container::-webkit-scrollbar {
  display: none;
}

.bottom-container {
  width: 100%;
  height: 10%;
  opacity: 0%;
}

.footer {~
  margin: 0;
  width: 98.5%;
  position: absolute;
  bottom: 3%;
}

.v-spacer-10 {
  margin-top: 10%;
}

.v-spacer-20 {
  margin-top: 20%;
}

.txt-align-center {
  text-align: center;
}

.button-container {
  bottom: 5%;
  right: 8%;
  opacity: 100%;
  position: absolute;
}

.separator {
  height: 2px;
  border-width: 0;
  color: lightgray;
  background-color: lightgray
}

.main-body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  margin: 0rem;
  width: 90vw;
  height: 92vh;
  padding: 2%;
  margin: 2%;
  overflow: hidden;
}

.cln-1 {
  margin: 0;
  padding: 0;
  text-align: center;
  width: 100%;
  height: 100%;
  vertical-align: middle;
}

.row-1 {
  display: table;
  vertical-align: middle;
  width: 100%;
  height: 75%;
}

.login-input-container {
  margin-bottom: 10%;
  width: 100%;
}

.input {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  font-size: 1.5em;
  display: inherit;
  width: 95%;
  margin: 0 auto;
  margin-bottom: 2%;
  text-align: center;
  background-color: #fcfbf9;
  border-color: lightgray;
  border-style: solid;
  box-shadow: none;
  border-radius: 10px
}

.input:focus {
  outline-color: #357ba2;
  text-shadow: 0.1rem 0.1rem 0.25rem rgba(0, 0, 0, 0.3);
  border-style: ridge;
}

.login-input:not(:last-child) {
  margin-bottom: 2%;
}

/* Content */

.app-font {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
}

.title {
  font-size: x-large;
  font-weight: bolder;
}

.simple-icon {
  padding: 0%;
  margin: 0%;
  width: 9vw;
  height: 9vh;
  float: center;
  vertical-align: middle;
}

/* Font */

.font-hd-1 {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: 3em;
  color: #357ba2;
  font-weight: bolder;
  padding: 0.75rem;
  text-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.font-txt-neutral {
  font-family: "Open Sans", "PT Sans", Calibri, Tahoma, sans-serif;
  font-size: x-large;
  color: white;
  padding: 0.75rem;
}

.font-tiny {
  font-family: "Open Sans", sans-serif;
  font-size: x-small;
  color: #357ba2;
  padding: 0.5rem;
}

/* Buttons */

.btn {
  position: relative;
  text-align: center;
  font-weight: bold;
  border-radius: 0.25rem;
  outline: 0;
  border: 0;
  overflow: hidden;
  padding-bottom: 0.3rem;
  padding-top: 0.3rem;
  padding-left: 1rem;
  padding-right: 1rem;
  box-shadow: 0.1rem 0.1rem 0.5rem rgba(0, 0, 0, 0.3);
}

.btn:hover {
  background-color: #355ba2;
  text-shadow: 10px;
  border-style: dashed;
}

.btn-primary {
  background-color: #357ba2;
  font-size: x-large;
}

.login-button {
  float: right; 
  box-shadow: 1px 1px 0 0 darkslategrey;
  padding: 5%;
  text-shadow: 5px;
}

.add-task-button {
  box-shadow: 1px 1px 0 0 darkslategrey;
  padding: 0%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 75px;
}

/* Inputs */

.task-checkbox {
  float: right;
  margin-right: 1sparem;
}

.transparent-text-input {
  border: none;
  width: 20rem;
  font-size: large;
  margin-right: 0;
  padding-right: 0;

}

.transparent-text-input:focus {
  outline: none;
}